/* Reset directives for the html */

* {
  font-family: 'Varela Round', sans-serif !important;
  text-decoration:none;
}

div {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

h1{
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  padding: 0;
}

/* Custom style */

.header_card {
  height: auto;
  margin-left: 45px;
  margin-right: 45px;
  display: inline-block;
  vertical-align: bottom;
}

.third_section {
  height: auto;
  text-align: center;
  color: black;
  background: url("../assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 15%;
  padding-bottom: 10%;
  margin-top: -5%;
}

.body_card {
  width: 60%;
  margin-left: 45px;
  margin-right: 45px;
  height: auto;
  display: inline-block;
  text-align: right;
  vertical-align: bottom;
}

.brown {
  background: #FCFCFC;
}

.cc-card {
  padding: 1em;
  margin:0 auto;
  background:#FFFFFF;
  width: 65%;
  height: auto;
}

.cell {
  width: 25%;
  text-align: center;
  display: inline-block;
  margin: 25px 25px 25px 20px;
}

.centertop {
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}

.dark-blue {
  background-color: #274B99;
}

.face {
  border-radius:10px 10px 10px 10px;
  position: absolute;
  color: #FFFFFF;
  padding: 10px;
  backface-visibility: hidden !important;
  -webkit-backface-visibility: hidden !important;
}

.face.back {
  height: 100%;
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: #FFFFFF;
  text-align: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden !important;
}

.crop_color_one {
  background-color: #203D52;
}

.first_section {
  width: auto;
  height: auto;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 45px;
  padding-top: 3em;
  padding-bottom: 3em;
}

.know {
  text-align: center;
}

.know-icon {
  width: 130px;
  height: auto;
  margin: 1em;
  transition: 0.5s;
  transition-timing-function: ease;
}

.know-icon:hover {
  -webkit-filter: hue-rotate(+16deg);
  filter: hue-rotate(+16deg);
  -webkit-filter: hue-rotate(+16deg);
  -moz-transform: translate(0px, -15px);
  -webkit-transform: translate(0px, -15px);
  transform: translate(0px, -15px);
}

.logotagBlack {
  padding-bottom: 30px;
  padding-top: 30px;
  border-radius: 5px;
  margin-top: 0px;
  width: 40%;
  height: auto;
}

.logotagBlackBack {
  width: 30%;
  height: auto;
  background: #FFFFFF;
  border-radius: 5px;
  margin-top: 20px;
}

.main_text {
  font-size: 30px;
}

.mobile {
  font-size: 100%;
  height: 100%;
}

.myface {
  width: 22em;
  height: 22em;
  border-radius: 10px;
}

.round_borders {
  border-radius:10px 10px 10px 10px;
}

.round_borders_top {
  border-radius:10px 10px 0px 0px;
}

.round_borders_bottom {
  border-radius: 10px 10px 10px 10px;
}

.siz_hed {
  font-size: 30;
  margin: 5px;
}

.social {
  text-align: center;
}

.social-icon {
  width: 110px;
  height: auto;
  margin: 1em;
  transition: 0.5s;
  transition-timing-function: ease;
}

.social-icon:hover {
  -webkit-filter: hue-rotate(-16deg);
  filter: hue-rotate(-16deg);
  -webkit-filter: hue-rotate(-16deg);
  -moz-transform: translate(0px, -30px);
  -webkit-transform: translate(0px, -30px);
  transform: translate(0px, -30px);
}

.tagBackCol {
  background: #FFFFFF;
}

.tagBackColBack {
  background: #274B99;
}

.test {
  background: #FFD166;
}

.second_section {
  background-color: #274B99;
  text-align: center;
  width: auto;
  height: auto;
  padding-top: 3em;
  padding-bottom: 3em;
}

.white_text
{
  color: #FFFFFF
}

.fourth_section
{
  background-color:#5566FF;
  width: 100%;
  height: 50px;
  text-align: center;
}

.fifth_section
{
  background-color:#5566FF;
}

#f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s linear;
}

#f1_container {
  height: 20em;
  perspective: 1000;
}

#f1_container:hover #f1_card {
  transform: rotateY(180deg);
}

@media (max-width: 1400px) {

  .header_card {
    margin-bottom: 45px;
    height: auto;
    display: inline-block;
  }

  .body_card {
    width: 90%;
    height: auto;
    text-align: center
  }

  .go_label {
    color: transparent;
    font-size: 1%;
  }

  .mobile {
    height: 100%;
    font-size: 70%;
  }
}

@media (max-width: 800px) {
  .mobile {
    font-size: 60%;
    height: 8em;
  }
}

@media (max-width: 600px) {
  .mobile {
    font-size: 100%;
  }
  .cell {
    width: 80%;
  }
}

.box {
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
  -o-transform: skewY(-3deg);
  transform: skewY(-3deg);
}

.box > .wrapper {
  -webkit-transform: skewY(3deg);
  -moz-transform: skewY(3deg);
  -ms-transform: skewY(3deg);
  -o-transform: skewY(3deg);
  transform: skewY(3deg);
}

.spanish {
  background-image: url("../assets/languages/spanish_flag.svg");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
}

.english {
  background-image: url("../assets/languages/uk_flag.svg");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
}

.clearTag {
  padding: 0;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.0);
  float: right;
}

.predator {
  visibility: hidden;
  height: 0px;
}

.predatorViewEnabled {
  width:100%;
  height: 500px;
}

.predatorViewDisabled {
  width: 0px;
  height: 0px;
}